SMS_FULL_PIPELINE.json
{
  "name": "#SMS: Full Multi-Platform Pipeline (Code-Node Override)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-trigger",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $json.body.mk;\nconst source = $json.body.source;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} ingest --mk ${mk} --source ${source}`);\n  return { mk, source, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-ingest",
      "name": "SMS Ingest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} massage --mk ${mk} --target mdbook`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-massage-mdbook",
      "name": "Massage mdBook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 100]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} massage --mk ${mk} --target linkedin`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-massage-linkedin",
      "name": "Massage LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} massage --mk ${mk} --target nostr`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-massage-nostr",
      "name": "Massage Nostr",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 500]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} publish --mk ${mk} --target mdbook`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-publish-mdbook",
      "name": "Publish mdBook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 100]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} publish --mk ${mk} --target linkedin`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-publish-linkedin",
      "name": "Archive LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst mk = $node[\"SMS Ingest\"].json.mk;\nconst binary = '/home/amj/github/shutri/target/debug/sms';\n\ntry {\n  execSync(`${binary} publish --mk ${mk} --target nostr`);\n  return { mk, success: true };\n} catch (e) {\n  throw new Error(e.message);\n}"
      },
      "id": "code-publish-nostr",
      "name": "Archive Nostr",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "SMS Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Ingest": {
      "main": [
        [
          {
            "node": "Massage mdBook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Massage LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Massage Nostr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Massage mdBook": {
      "main": [
        [
          {
            "node": "Publish mdBook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Massage LinkedIn": {
      "main": [
        [
          {
            "node": "Archive LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Massage Nostr": {
      "main": [
        [
          {
            "node": "Archive Nostr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
